# CosyVoice Dependencies

--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchaudio
torchcodec
transformers
librosa
soundfile
pyworld
lightning
deepspeed; sys_platform == 'linux'
diffusers
onnx
onnxruntime-gpu; sys_platform == 'linux'
onnxruntime; sys_platform == 'darwin' or sys_platform == 'win32'
tensorrt-cu12; sys_platform == 'linux'
tensorrt-cu12-bindings; sys_platform == 'linux'
tensorrt-cu12-libs; sys_platform == 'linux'
grpcio
grpcio-tools
protobuf
fastapi
uvicorn
gradio
hydra-core
omegaconf
HyperPyYAML
pydantic
conformer
gdown
inflect
matplotlib
modelscope
networkx
openai-whisper
pyarrow
rich
tensorboard
wetext
wget
