# CosyVoice Simple Dependencies

--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchaudio
torchcodec
transformers
librosa
soundfile
lightning
diffusers
onnx
onnxruntime
protobuf
hydra-core
omegaconf
hyperpyyaml
pydantic
conformer
gdown
gradio
inflect
matplotlib
modelscope
networkx
openai-whisper
rich
wetext
wget
pillow
